<div class="alert alert-seccondary text-success mb-0">
"ログアウトしました"
  <button type="button" class="close" data-dis-miss="alert">
    ✖️
  </button>
</div>
<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<div>

</div>